In [20]:
var = "esto es una variable, puede contener todo tipo de variables"
print(var)
print(type(var))

esto es una variable, puede contener todo tipo de variables
<class 'str'>

In [16]:
number = 123
print("los numero tieneden a ser de typi int o float, dependiendo de como coloques la data, en este ejemplo number es type int "+str(number))
print(type(number))

los numero tieneden a ser de typi int o float, dependiendo de como coloques la data, en este ejemplo number es type int 123
<class 'int'>

In [23]:
number2=3.14
print("este tipo de numero se le conoce como flotante "+ str(number2))
print (type(number2))

este tipo de numero se le conoce como flotante 3.14
<class 'float'>

In [30]:
lista= ["peru", "colombia","chile"]
lista2=[1,5.8,6.777]
print("esta clase de objetos se le conoce como una lista, puede ser string "+ str(lista))
print("esta clase de objetos se le conoce como una lista, puede ser numerico "+ str(lista2))
print(type(lista))
print(type(lista2))

esta clase de objetos se le conoce como una lista, puede ser string ['peru', 'colombia', 'chile']
esta clase de objetos se le conoce como una lista, puede ser numerico [1, 5.8, 6.777]
<class 'list'>
<class 'list'>

In [31]:
lista3 =[[1.5,5],[5,6]]
print(lista3)

[[1.5, 5], [5, 6]]

In [43]:
lista3 =[[1.5,5],[5,6]]
list4=[]
suma=lista3[0][1]+lista3[1][1]
list4.append(suma)
print(list4)

[11]